on post-fs

on post-fs-data

on early-init

on init

on boot

    # backlight
    chown system system /sys/class/backlight/panel_backlight-0/brightness
    chown system system /sys/class/backlight/panel_backlight-1/brightness
