on post-fs

on post-fs-data

on early-init

on init
    # led
    start vendor.led

on boot

    # backlight
    chown system system /sys/class/backlight/panel_backlight-0/brightness
    chown system system /sys/class/backlight/panel_backlight-1/brightness

# led
service vendor.led /vendor/bin/led.sh
    class main
    user root
    group root
    disabled
    oneshot

# lte
service vendor.ril-daemon /vendor/bin/hw/rild -l /vendor/lib64/libreference-ril.so
    class main
    user radio
    group radio cache inet misc audio sdcard_rw log
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW