type led_sh, domain;
type led_sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(led_sh)

allow led_sh vendor_shell_exec:file rx_file_perms;
allow led_sh vendor_toolbox_exec:file rx_file_perms;

